
body{
width:100%;	
max-width:inherit;
background-color:#033E3E;
background-image:url(../bg.jpg);
/*background-repeat: no-repeat;*/
/*background-repeat: repeat-y;*/
background-size:100%;
background-attachment:fixed;
background-size:cover;
background-position:center; 
}

.box {
background-image:url(../1.jpg);
padding:.5rem 10rem;
margin:.5rem;
/*background-repeat: no-repeat;*/
background-size:cover;
background-position:center;
/*position:fixed;*/
}

.box h2{
font-size:1.5rem;
color: #FFD700;
display:flex;
align-items:center;
justify-content:center;
}

.about{
background-image:url(../lol0707.jpg);
padding:1rem 1rem;
margin:1.7rem;
background-repeat: no-repeat;
background-size:cover;
background-position:center;
}

.about img{
padding:.7rem; border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
background-image: url(../1.jpg);
height:auto;
width:14rem;
margin-right:3rem;
}

.about-text{
width:50rem;

}

.main {
width:155rem;
max-width:60%;
margin:0 auto;
display:flex;
align-items:center;
justify-content:space-around;
}

.about-text h2{


color:white;	
font-size:1.7rem;
text-transform:capitalize;
margin-bottom:.7rem;
}

.about-text p{

color:#fcfc;
letter-spacing:.1rem;
line-height:0.9rem;
font-size:.8rem;
margin-bottom:1.3rem;

}

button{
text-decoration : none;
background-color:#f9004d;
color:white;
font-weight:bold;
padding:.5rem .7rem;
font-size:.6rem;
}



